@model BackEndCurso.Models.UnidadesMedida

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UnidadesMedida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasasDecimais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasasDecimais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastradoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastradoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastradoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastradoData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlteradoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlteradoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlteradoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlteradoData)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Sigla" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
