@model BackEndCurso.Models.UnidadesMedida

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UnidadesMedida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasasDecimais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasasDecimais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastradoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastradoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastradoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastradoData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlteradoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlteradoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlteradoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlteradoData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Sigla">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
